1. Write a Python program to add an item to a tuple.

In [14]:
x=(1,2,3,4,5,6)
x=list(x)
x.append('c')
x=tuple(x)
print(x)

(1, 2, 3, 4, 5, 6, 'c')

2. Write a Python program to sum all the items in a list.

In [1]:
x=[1,2,3,4,5,6,7,8,9]
print(sum(x))

45

3. Write a Python program to multiply all the items in a list.

In [8]:
multi=1
x=[1,2,3,4,5,6,7,8,9]
for i in x:
    multi=multi*i
print(multi)

362880

4. Write a Python program to get the smallest number from a list.

In [20]:
x=[1,2,3,4,-1,5,6,7,8,9]
print (min(x))

-1

5. Write a Python program to get the largest number from a list.

In [18]:
x=[1,2,3,4,5,11,6,7,8,9]
print (max(x))

11

6. Write a Python program to count the number of strings from a given list of 
strings.

In [16]:
my_list=["mahmoud","mohamed","ahmed","mostafa","said","heissen","aml","shaimaa"]
print(len(my_list))

8

7. Write a Python program to clone or copy a list

1-to copy a list

In [31]:
my_list2=my_list

2-to clone a list

In [35]:
my_list2=my_list[:]

8. Write a Python program to remove item(s) from a given set

In [18]:
my_set={"ml","python","ai","data science"}
my_set.remove("ai")

9. Write a Python program to check if a set is a subset of another set.

In [20]:
my_set={1,2,3,4,1,2,3}
my_set2={2,4}
my_set2.issubset(my_set)

True

10. Write a Python program to remove all elements from a given set.

In [26]:
my_set={1,2,3,4,8,6,9}
my_set.clear()
print(my_set)

set()

11. Write a Python program to find the maximum and minimum values in a set.

In [28]:
my_set={1,2,3,-2,4,8,6}
print(max(my_set))
print(min(my_set))

8
-2

12. Write a Python program to find the index of an item in a tuple.

In [30]:
my_tuple=(1,2,5,3,7,9,3)
print(my_tuple.index(9))

5

13. Write a Python program to convert a tuple to a dictionary.

In [32]:
my_tuple=((1,2),(5,3),(7,9),(3,5))
my_dict=dict(my_tuple)
print(my_dict)

{1: 2, 5: 3, 7: 9, 3: 5}

14. Write a Python program to unzip a list of tuples into individual lists.

In [12]:
my_list=[(1,2),(5,3),(7,9),(3,5)]
my_list2=[]
for i in my_list:
    my_list2.extend(i)
print(my_list2)

[1, 2, 5, 3, 7, 9, 3, 5]

15. Write a Python program to reverse a tuple.

In [34]:
my_tuple=(1,2,5,3,7,9,3)
my_tuple=tuple(list(my_tuple[::-1]))
print(my_tuple)

(3, 9, 7, 3, 5, 2, 1)

16. Write a Python program to convert a list of tuples into a dictionary.

In [36]:
my_list=[(1,2),(5,3),(7,9),(3,5)]
my_dict=dict(my_list)
print(my_dict)

{1: 2, 5: 3, 7: 9, 3: 5}

17. Write a Python program to replace the last value of tuples in a list.

In [40]:
sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)] 
new_list =[(i,j,100) for (i,j,k) in sample_list]
new_list

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

18.  Write a Python program to sort a tuple by its float element.

In [62]:
my_tuple =[('lucky', '18.265'),('nikhil', '14.107'),('akash', '24.541'), ('anand', '4.256'), ('gaurav', '10.365')]

In [76]:
print(sorted(my_tuple, key = lambda x: float(x[1])))

[('anand', '4.256'), ('gaurav', '10.365'), ('nikhil', '14.107'), ('lucky', '18.265'), ('akash', '24.541')]